# Libraries

In [1]:
import pandas as pd
import os
import pickle
import time

In [15]:
import numpy as np

In [17]:
import math

In [2]:
root_dir = "/media/visionin/data_station/OctanData/BSC/running/2022_old_data/save_dir/"

# Load Addresses dict

In [4]:
address_dict_path = root_dir + "address_dict.pickle"
with open(address_dict_path, 'rb') as handle:
    address_dict = pickle.load(handle)
print(len(address_dict.keys()))

54912

In [5]:
# create node list table
node_list = pd.DataFrame(address_dict.items(), columns=['Address', 'ID'])

In [6]:
node_list.head(5)

                                       Address  ID
0   0x27c2943985d0beeaa850a5bc13b1fc34b797b8d2   0
1   0x20ec291bb8459b6145317e7126532ce7ece5056f   1
2   0x85278c207f24c0ed481b84e4205bb7ee69afe306   2
3   0x7b0b35b416631f05f321fe74990817dca81cabde   3
4   0xcde540d7eafe93ac5fe6233bee57e1270d3e330f   4

# Load Pagerank dict

In [7]:
pagerank_dict_path = root_dir + "weighted_pagerank_v4.pickle"
with open(pagerank_dict_path, 'rb') as handle:
    pagerank_dict = pickle.load(handle)
print(len(pagerank_dict.keys()))

54910

In [8]:
start_time = time.time()
node_list['Reputation (x10e6)'] = node_list.apply(lambda row: pagerank_dict[row["ID"]]*1000000 if (row["ID"] in pagerank_dict.keys()) else 0, axis=1)
print(time.time()-start_time)

0.5374248027801514

In [19]:
start_time = time.time()
node_list['Reputation (Log Scale)'] = node_list.apply(lambda row: np.clip(np.round(math.log((row['Reputation (x10e6)']/1000000), 1.0233) + 1000, decimals=6), 0, 1000) if (row['Reputation (x10e6)'] !=0) else 0 , axis=1)
print(time.time()-start_time)

1.728816270828247

In [20]:
node_list.head(5)

,Address,ID,Reputation (x10e6),Reputation (Log Scale)
0,0x27c2943985d0beeaa850a5bc13b1fc34b797b8d2,0,13.009929,511.572756
1,0x20ec291bb8459b6145317e7126532ce7ece5056f,1,3471.525167,754.125158
2,0x85278c207f24c0ed481b84e4205bb7ee69afe306,2,13.702995,513.826144
3,0x7b0b35b416631f05f321fe74990817dca81cabde,3,13.009929,511.572756
4,0xcde540d7eafe93ac5fe6233bee57e1270d3e330f,4,21987.277497,834.266437

# Load Transaction counting dict

In [21]:
tranfer_dict_path = root_dir + "total_transfer.pickle"
with open(tranfer_dict_path, 'rb') as handle:
    transfer_dict = pickle.load(handle)
print(len(transfer_dict.keys()))

48402

In [22]:
start_time = time.time()
node_list['Total Transfer'] = node_list.apply(lambda row: transfer_dict[row["ID"]] if (row["ID"] in transfer_dict.keys()) else 0, axis=1)
print(time.time()-start_time)

0.7464511394500732

In [23]:
receive_dict_path = root_dir + "total_receive.pickle"
with open(receive_dict_path, 'rb') as handle:
    receive_dict = pickle.load(handle)
print(len(receive_dict.keys()))

53202

In [24]:
start_time = time.time()
node_list['Total Receive'] = node_list.apply(lambda row: receive_dict[row["ID"]] if (row["ID"] in receive_dict.keys()) else 0, axis=1)
print(time.time()-start_time)

0.7148149013519287

In [25]:
node_list['Total Transactions'] = node_list['Total Receive'] + node_list['Total Transfer']

In [26]:
node_list.head(5)

,Address,ID,Reputation (x10e6),Reputation (Log Scale),Total Transfer,Total Receive,Total Transactions
0,0x27c2943985d0beeaa850a5bc13b1fc34b797b8d2,0,13.009929,511.572756,262,1,263
1,0x20ec291bb8459b6145317e7126532ce7ece5056f,1,3471.525167,754.125158,0,195689,195689
2,0x85278c207f24c0ed481b84e4205bb7ee69afe306,2,13.702995,513.826144,29,2,31
3,0x7b0b35b416631f05f321fe74990817dca81cabde,3,13.009929,511.572756,41,2,43
4,0xcde540d7eafe93ac5fe6233bee57e1270d3e330f,4,21987.277497,834.266437,0,177456,177456

# Load gas spent dict

In [27]:
spent_gas_dict_path = root_dir + "total_gas_spent.pickle"
with open(spent_gas_dict_path, 'rb') as handle:
    spent_gas_dict = pickle.load(handle)
print(len(spent_gas_dict.keys()))

1

In [28]:
print(len(spent_gas_dict['gas_dec']))

48402

In [29]:
start_time = time.time()
node_list['Total Gas Spent'] = node_list.apply(lambda row: spent_gas_dict['gas_dec'][row["ID"]] if (row["ID"] in spent_gas_dict['gas_dec'].keys()) else 0, axis=1)
print(time.time()-start_time)

0.9137334823608398

In [30]:
node_list.head(5)

,Address,ID,Reputation (x10e6),Reputation (Log Scale),Total Transfer,Total Receive,Total Transactions,Total Gas Spent
0,0x27c2943985d0beeaa850a5bc13b1fc34b797b8d2,0,13.009929,511.572756,262,1,263,134970379
1,0x20ec291bb8459b6145317e7126532ce7ece5056f,1,3471.525167,754.125158,0,195689,195689,0
2,0x85278c207f24c0ed481b84e4205bb7ee69afe306,2,13.702995,513.826144,29,2,31,14399175
3,0x7b0b35b416631f05f321fe74990817dca81cabde,3,13.009929,511.572756,41,2,43,21674922
4,0xcde540d7eafe93ac5fe6233bee57e1270d3e330f,4,21987.277497,834.266437,0,177456,177456,0

# Load degree

In [31]:
degree_dict_path = root_dir + "degree.pickle"
with open(degree_dict_path, 'rb') as handle:
    degree_dict = pickle.load(handle)
print(len(degree_dict.keys()))

54910

In [32]:
start_time = time.time()
node_list['Degree'] = node_list.apply(lambda row: degree_dict[row["ID"]] if (row["ID"] in degree_dict.keys()) else 0, axis=1)
print(time.time()-start_time)

0.4987013339996338

In [33]:
in_degree_dict_path = root_dir + "in_degree.pickle"
with open(in_degree_dict_path, 'rb') as handle:
    in_degree_dict = pickle.load(handle)
print(len(in_degree_dict.keys()))

54910

In [34]:
start_time = time.time()
node_list['In Degree'] = node_list.apply(lambda row: in_degree_dict[row["ID"]] if (row["ID"] in in_degree_dict.keys()) else 0, axis=1)
print(time.time()-start_time)

0.5128064155578613

In [35]:
out_degree_dict_path = root_dir + "out_degree.pickle"
with open(out_degree_dict_path, 'rb') as handle:
    out_degree_dict = pickle.load(handle)
print(len(out_degree_dict.keys()))

54910

In [36]:
start_time = time.time()
node_list['Out Degree'] = node_list.apply(lambda row: out_degree_dict[row["ID"]] if (row["ID"] in out_degree_dict.keys()) else 0, axis=1)
print(time.time()-start_time)

0.5029520988464355

In [37]:
node_list.head(5)

,Address,ID,Reputation (x10e6),Reputation (Log Scale),Total Transfer,Total Receive,Total Transactions,Total Gas Spent,Degree,In Degree,Out Degree
0,0x27c2943985d0beeaa850a5bc13b1fc34b797b8d2,0,13.009929,511.572756,262,1,263,134970379,20,1,19
1,0x20ec291bb8459b6145317e7126532ce7ece5056f,1,3471.525167,754.125158,0,195689,195689,0,5747,5747,0
2,0x85278c207f24c0ed481b84e4205bb7ee69afe306,2,13.702995,513.826144,29,2,31,14399175,11,2,9
3,0x7b0b35b416631f05f321fe74990817dca81cabde,3,13.009929,511.572756,41,2,43,21674922,11,1,10
4,0xcde540d7eafe93ac5fe6233bee57e1270d3e330f,4,21987.277497,834.266437,0,177456,177456,0,10811,10811,0

# Load labels

In [38]:
label_dict_path = root_dir + "labels_dict.pickle"
with open(label_dict_path, 'rb') as handle:
    label_dict = pickle.load(handle)
print(len(label_dict.keys()))

28319

In [39]:
start_time = time.time()
node_list['Identity'] = node_list.apply(lambda row: label_dict[row['Address']] if (row['Address'] in label_dict.keys()) else '', axis=1)
print(time.time()-start_time)

0.38014650344848633

In [40]:
node_list.head(5)

,Address,ID,Reputation (x10e6),Reputation (Log Scale),Total Transfer,Total Receive,Total Transactions,Total Gas Spent,Degree,In Degree,Out Degree,Identity
0,0x27c2943985d0beeaa850a5bc13b1fc34b797b8d2,0,13.009929,511.572756,262,1,263,134970379,20,1,19,
1,0x20ec291bb8459b6145317e7126532ce7ece5056f,1,3471.525167,754.125158,0,195689,195689,0,5747,5747,0,
2,0x85278c207f24c0ed481b84e4205bb7ee69afe306,2,13.702995,513.826144,29,2,31,14399175,11,2,9,
3,0x7b0b35b416631f05f321fe74990817dca81cabde,3,13.009929,511.572756,41,2,43,21674922,11,1,10,
4,0xcde540d7eafe93ac5fe6233bee57e1270d3e330f,4,21987.277497,834.266437,0,177456,177456,0,10811,10811,0,

# Sort by reputation

In [41]:
start_time = time.time()
node_list.sort_values('Reputation (x10e6)', inplace=True, ascending=False)
print(time.time()-start_time)

0.02071070671081543

In [43]:
node_list.head(5)

,Address,ID,Reputation (x10e6),Reputation (Log Scale),Total Transfer,Total Receive,Total Transactions,Total Gas Spent,Degree,In Degree,Out Degree,Identity
103,0x631fc1ea2270e98fbd9d92658ece0f5a269aa161,103,25765.034953,841.150318,95652,13193,108845,64071463120,23337,6280,17057,Binance Hot Wallet
4,0xcde540d7eafe93ac5fe6233bee57e1270d3e330f,4,21987.277497,834.266437,0,177456,177456,0,10811,10811,0,
8087,0x05ff2b0db69458a0750badebc4f9e13add608c7f,8087,19926.252117,829.993124,0,151603,151603,0,9993,9993,0,PancakeSwap: Router
202,0xe02df9e3e622debdd69fb838bb799e3f168902c5,202,18260.090654,826.201983,0,20044,20044,0,10194,10194,0,BakerySwap BAKE Token
237,0xd954551853f55deb4ae31407c423e67b1621424a,237,17140.337743,823.454444,0,31111,31111,0,6725,6725,0,

# Clean and Export Ranking Table

In [44]:
print(node_list.columns.tolist())

['Address', 'ID', 'Reputation (x10e6)', 'Reputation (Log Scale)', 'Total Transfer', 'Total Receive', 'Total Transactions', 'Total Gas Spent', 'Degree', 'In Degree', 'Out Degree', 'Identity']

In [45]:
# fix " " in address
node_list["newAddress"] = node_list.apply(lambda row: row['Address'].replace(" ", ""), axis=1)

In [47]:
export_ranking_table = node_list[['Address', 'ID', 'Reputation (x10e6)', 'Reputation (Log Scale)', 'Total Transfer', 'Total Receive', 'Total Transactions', 'Total Gas Spent', 'Degree', 'In Degree', 'Out Degree', 'Identity']].copy()

In [48]:
# rename columns
export_ranking_table.rename(columns = {'newAddress':'Address'}, inplace = True)

In [49]:
export_ranking_table.head(5)

,Address,ID,Reputation (x10e6),Reputation (Log Scale),Total Transfer,Total Receive,Total Transactions,Total Gas Spent,Degree,In Degree,Out Degree,Identity
103,0x631fc1ea2270e98fbd9d92658ece0f5a269aa161,103,25765.034953,841.150318,95652,13193,108845,64071463120,23337,6280,17057,Binance Hot Wallet
4,0xcde540d7eafe93ac5fe6233bee57e1270d3e330f,4,21987.277497,834.266437,0,177456,177456,0,10811,10811,0,
8087,0x05ff2b0db69458a0750badebc4f9e13add608c7f,8087,19926.252117,829.993124,0,151603,151603,0,9993,9993,0,PancakeSwap: Router
202,0xe02df9e3e622debdd69fb838bb799e3f168902c5,202,18260.090654,826.201983,0,20044,20044,0,10194,10194,0,BakerySwap BAKE Token
237,0xd954551853f55deb4ae31407c423e67b1621424a,237,17140.337743,823.454444,0,31111,31111,0,6725,6725,0,

In [50]:
# export top 1000
export_ranking_top_1000 = export_ranking_table.head(1000)

In [51]:
# save to disk
export_ranking_path = root_dir + "export_ranking_bsc_2022.csv"
export_ranking_top_1000_path = root_dir + "export_ranking_bsc_2022_top_1000.csv"
export_ranking_table.to_csv(export_ranking_path, index=False)
export_ranking_top_1000.to_csv(export_ranking_top_1000_path, index=False)